@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

body {
	font-size: 13px;
	background: #fff;
	margin: 0;
	padding: 0;
	font-family: Lato, sans-serif;
	font-style: normal;
	font-weight: 400;
	overflow-x: hidden;
	height: auto !important
}

.feature-box h3, .featured-area, .icons-box .icon-wrapper h3,
	.main-header ul.main-nav li a, .title-big, .title-big small {
	font-family: Lato, sans-serif;
	font-style: normal;
	font-weight: 300
}

.container {
	position: relative;
	margin: 0 auto;
	z-index: 5
}

.featured-area {
	position: relative
}



.inverse {
	color: #000
}

.dummy-light-bg.inverse {
	color: #000 !important
}

.featured-area.small-padding {
	padding-top: 105px
}

.featured-area.medium-padding {
	padding-top: 135px
}

.featured-area.large-padding {
	padding-top: 165px
}

.featured-area.xlarge-padding {
	padding-top: 195px
}

.bg-primary {
	background: #f87500
}

,
.font-primary, .feature-list li .glyph-icon, .feature-list li b,
	.font-primary, .main-header.bg-white.inverse .main-nav.nav-alt li.sfHover>a,
	.main-header.bg-white.inverse ul.main-nav li.active a, .main-header.bg-white.inverse ul.main-nav li.dropdown.open>a,
	.main-header.bg-white.inverse ul.main-nav>li>a:hover, .pricing-table .pricing-title,
	.testimonial-author b {
	color: #f87500
}

.border-primary {
	border-color: #f87500 !important
}

.pricing-title.bg-primary {
	color: #fff
}

.main-header a.logo {
	float: left;
	color: #fff;
	margin: 0;
	font-size: 23px
}

.main-header a {
	color: rgba(255, 255, 255, .8)
}

.main-header {
	position: absolute;
	z-index: 16;
	width: 100%;
	top: 0
}

.main-header.header-fixed {
	z-index: 16;
	position: fixed;
	border-bottom: 2px solid #ddd;
}

.main-nav .header {
	font-weight: 700;
	padding: 10px 5px;
	color: rgba(255, 255, 255, .5)
}

.main-header ul.main-nav {
	float: right;
	margin: -20px 0 0px 0;
	padding-right: 35px;
}

.main-header ul.main-nav li, .main-header ul.main-nav li a {
	display: block;
	list-style: none;
	float: left;
	position: relative
}

.main-header ul.main-nav>li>a {
	padding: 0 5px;
	margin: 0 10px;
	height: 34px;
	line-height: 34px;
	font-size: 15px;
	color: black;
    font-weight: 400;
}

.main-header .main-nav.nav-alt li.sfHover>a, .main-header ul.main-nav li a:hover,
	.main-header ul.main-nav li.active a, .main-header ul.main-nav li.dropdown.open>a
	{
	color: black;
	font-weight:700;
}

.main-header.alt-hover ul.main-nav>li>a {
	border-bottom: 0
}

.main-header.alt-hover .main-nav.nav-alt li.sfHover>a, .main-header.alt-hover ul.main-nav li a:hover,
	.main-header.alt-hover ul.main-nav li.active a, .main-header.alt-hover ul.main-nav li.dropdown.open>a
	{
	color: #fff;
	background: rgba(255, 255, 255, .1)
}

.main-header ul.main-nav li a .glyph-icon {
	margin-left: 4px;
	-moz-opacity: .65;
	filter: alpha(opacity : 65);
	opacity: .65
}

.main-header ul.main-nav li .dropdown-menu {
	display: none;
	position: absolute;
	top: 65px;
	left: 10px;
	background: #f7f7f7;
	min-width: 210px;
	border: 0;
	padding: 5px 0;
	box-shadow: 0 15px 25px rgba(0, 0, 0, .7)
}

.main-header ul.main-nav .dropdown-menu ul {
	margin: 0;
	padding: 0
}

.main-header ul.main-nav .dropdown-menu li, .main-header ul.main-nav .dropdown-menu li a
	{
	float: none;
	border-radius: 0
}

.main-header ul.main-nav .dropdown-menu li a {
	color: #888;
	padding: 10px 25px
}

.main-header ul.main-nav .dropdown-menu li a:hover {
	background: #e7e7e7;
	color: #333
}

.main-header ul.main-nav li.dropdown.open .dropdown-menu {
	display: block
}

.main-header .main-nav.nav-alt li>ul, .sf-mega {
	position: absolute;
	position: absolute;
    list-style: none;
    margin: 0;
    background: gray !important;
    min-width: 152px;
    padding-bottom: 15px;
    top: 100%;
    left: 0;
    border-radius: 5px;
}

.main-header .main-nav.nav-alt li.sf-mega-menu .sf-mega a {
	color: #9E9E9E
}

.main-header .main-nav.nav-alt li.sf-mega-menu .sf-mega a:hover {
	color: #D5D5D5
}

.main-header .main-nav.nav-alt li.sf-mega-menu>a:before, .main-header .main-nav.nav-alt li>ul:before
	{
	position: absolute;
	top: -8px;
	left: 24px;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #111;
	border-left: 8px solid transparent;
	border-bottom-color: #111;
	content: '';
	display: none
}

.main-header .main-nav.nav-alt li.sf-mega-menu>a:before {
	bottom: -25px;
	left: 50%;
	margin-left: -4px
}

.main-header .main-nav.nav-alt li.sf-mega-menu.sfHover>a:before,
	.main-header .main-nav.nav-alt li.sfHover>ul:before {
	display: block
}

.main-header .main-nav.nav-alt li>ul li, .main-header .main-nav.nav-alt li>ul li a
	{
	float: none;
	display: block
}

.main-header .main-nav.nav-alt li.sf-mega-menu ul li.divider,
	.main-header .main-nav.nav-alt li>ul li.divider {
	background: rgba(255, 255, 255, .1)
}

.main-header .main-nav.nav-alt li>ul li a {
	padding: 10px;
	font-size: 13px;
	color: #ddd;
	white-space: nowrap;
	text-align: left
}

.main-header .main-nav.nav-alt li.sf-mega-menu ul li a:hover,
	.main-header .main-nav.nav-alt li>ul li a:hover {
	background: rgba(255, 255, 255, .1);
	color: #fafafa
}

.main-header .main-nav.nav-alt li.sf-mega-menu {
	position: static
}

.main-header .main-nav.nav-alt li.sf-mega-menu .sf-mega {
	padding: 15px 0;
	width: 100%
}

.main-header .main-nav.nav-alt li.sf-mega-menu h4 {
	margin: 0 10px 10px;
	font-size: 15px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, .7)
}

.main-header .main-nav.nav-alt li.sf-mega-menu ul {
	list-style: none;
	margin: 0;
	padding: 0
}

.main-header .main-nav.nav-alt li.sf-mega-menu ul li, .main-header .main-nav.nav-alt li.sf-mega-menu ul li a
	{
	float: none;
	display: block
}

.main-header .main-nav.nav-alt li.sf-mega-menu ul li a {
	padding: 10px
}

.main-header .main-nav.nav-alt-2 li.sfHover>a, .main-header ul.main-nav.nav-alt-2 li a:hover,
	.main-header ul.main-nav.nav-alt-2 li.active a, .main-header ul.main-nav.nav-alt-2 li.dropdown.open>a
	{
	background: rgba(255, 255, 255, .1);
	color: rgba(255, 255, 255, .9)
}

.main-header.inverse a {
	color: rgba(0, 0, 0, .8)
}

.main-header.inverse .main-nav.nav-alt li.sfHover>a, .main-header.inverse ul.main-nav li a:hover,
	.main-header.inverse ul.main-nav li.active a, .main-header.inverse ul.main-nav li.dropdown.open>a
	{
	color: rgba(0, 0, 0, 1)
}

.main-header.bg-white.inverse {
	box-shadow: 0 1px 4px rgba(0, 0, 0, .1)
}

.slider-wrapper .item {
	float: left
}

.slider-wrapper .owl-controls {
	text-align: center;
	color: #fff
}

.slider-wrapper .owl-controls .owl-buttons .owl-prev {
	left: 20px;
	right: auto
}

.slider-wrapper .owl-controls .owl-buttons .owl-next {
	right: 20px;
	left: auto
}

.slider-wrapper .owl-pagination {
	position: absolute;
	bottom: 10px;
	width: 100%
}

.carousel-wrapper .owl-pagination {
	position: static
}

.slider-wrapper .owl-controls .owl-buttons div {
	display: block;
	font-size: 55px;
	height: 40px;
	line-height: 40px;
	width: 30px;
	position: absolute;
	top: 50%;
	margin-top: -32px;
	text-align: center;
	-moz-opacity: .6;
	filter: alpha(opacity : 60);
	opacity: .6
}

.slider-wrapper .owl-controls .owl-buttons div:hover {
	-moz-opacity: .8;
	filter: alpha(opacity : 80);
	opacity: .8
}

.slider-wrapper .owl-controls .owl-buttons div i {
	height: 40px;
	line-height: 40px;
	display: block;
	width: 30px
}

.inverse.slider-wrapper .owl-controls .owl-buttons div {
	color: #000
}

.inverse.carousel-wrapper .owl-controls .owl-page span {
	background: #000
}

.inverse.slider-wrapper .owl-controls .owl-page span {
	background: #333
}

.carousel-wrapper .owl-controls .owl-buttons div {
	margin-top: -30px
}

.carousel-wrapper-alt .owl-controls .owl-buttons div {
	margin-top: -45px
}

.carousel-container .owl-controls .owl-buttons .owl-next {
	right: -30px
}

.carousel-container .owl-controls .owl-buttons .owl-prev {
	left: -30px
}

.carousel-wrapper-alt .owl-controls .owl-pagination {
	display: none
}

.slider-wrapper .owl-controls .owl-page {
	display: inline-block;
	zoom: 1
}

.dotstyle-hop li a {
	border: 2px solid #c44d48;
	background: 0 0
}

.dotstyle-hop li a::after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	border-radius: 50%;
	visibility: hidden;
	background: #fff;
	opacity: 0;
	-webkit-transform: rotate(-100deg);
	transform: rotate(-100deg);
	-webkit-transform-origin: -200% 50%;
	transform-origin: -200% 50%;
	-webkit-transition: -webkit-transform .3s ease .3s, opacity .3s ease,
		visibility 0s .3s ease;
	transition: transform .3s ease .3s, opacity .3s ease, visibility 0s .3s
		ease
}

.dotstyle-hop li a:focus {
	background: rgba(255, 255, 255, .2)
}

.dotstyle-hop li.current-from-right a::after {
	-webkit-transition: none;
	transition: none;
	-webkit-transform: rotate(100deg);
	transform: rotate(100deg);
	-webkit-transform-origin: 300% 50%;
	transform-origin: 300% 50%
}

.dotstyle-hop li.current a::after {
	visibility: visible;
	opacity: 1;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: -webkit-transform .3s ease, opacity .3s ease;
	transition: transform .3s ease, opacity .3s ease
}

.slider-wrapper .owl-controls .owl-page span {
	display: block;
	width: 12px;
	height: 12px;
	margin: 0 3px;
	filter: Alpha(Opacity = 50);
	opacity: .5;
	border-radius: 20px;
	background: #fff
}

.slider-wrapper .owl-controls .owl-page.active span, .slider-wrapper .owl-controls.clickable .owl-page:hover span
	{
	filter: Alpha(Opacity = 100);
	opacity: 1
}

.slider-wrapper .owl-controls .owl-page span.owl-numbers {
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	border-radius: 30px
}

.owl-item.loading {
	min-height: 150px;
	background: url(../../assets/dummy-images/loader.gif) center center
		no-repeat
}

#feat-customers {
	background: #f9f9f9;
	padding: 60px 0
}

#feat-customers a {
	width: 176px;
	height: 111px;
	display: block;
	float: left;
	background: #fff;
	margin: 0 9px
}

#feat-customers a img {
	margin: 33px auto 0;
	display: block
}

.testimonials-box {
	background: #313131;
	color: #989898;
	font-family: Georgia
}

.page .featured-area {
	height: auto;
	padding-bottom: 35px;
	margin-bottom: 35px
}

.tabs-content {
	background: #e7e7e7;
	height: 70px
}

.tabs-content ul.tab-nav {
	display: table;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	border-left: rgba(255, 255, 255, .8) solid 1px
}

.tabs-content ul.tab-nav li {
	display: table-cell;
	border-right: rgba(255, 255, 255, .8) solid 1px
}

.tabs-content ul.tab-nav li a {
	display: block;
	text-align: center;
	height: 70px;
	line-height: 70px;
	font-size: 14px;
	font-weight: 700;
	color: #a6a6a6;
	text-transform: uppercase;
	border-bottom: transparent solid 3px
}

.tabs-content ul.tab-nav li a:hover, .tabs-content ul.tab-nav li.active a
	{
	background: rgba(255, 255, 255, .8);
	border-color: #f87500;
	height: 67px;
	line-height: 70px;
	color: #666
}

.social-links {
	float: right
}

.social-links a {
	width: 34px;
	height: 34px;
	line-height: 36px;
	display: block;
	float: right;
	margin: 0 0 0 5px;
	border-radius: 100px;
	background: #f87500;
	color: #fff;
	text-align: center
}

.social-links a:hover {
	background: #22d3ff
}

.feature-center {
	text-align: center
}

.feature-center h3 {
	margin: 15px 0 0;
	padding: 0
}

.feature-center p {
	margin-bottom: 35px
}

.feature-row {
	margin: 35px 0
}

.cta-box-alt .feature-row {
	margin-top: 0
}

.font-light {
	color: #ccc;
	margin-right: 8px
}