.cta-box {
	text-align: center
}

.cta-box .cta-title {
	font-size: 26px;
	font-weight: 400;
	display: inline-block;
	margin: 0 15px 0 0;
	padding: 0;
	vertical-align: middle
}

.cta-box .cta-text {
	font-size: 17px;
	display: inline-block;
	margin: 0 15px 0 0;
	vertical-align: middle
}

.cta-box .cta-btn {
	margin-left: 5px
}

.feature-box .feature-content {
	overflow: hidden;
	padding: 0 35px
}

.feature-box .feature-img {
	float: left;
	margin: 0 40px 0 20px
}

.feature-box .feature-img.float-right {
	margin: 0 20px 0 40px
}

.feature-box .feature-img>a>img, .feature-box .feature-img>img {
	width: 100%;
	margin-top: 25px;
	padding: 10px
}

.feature-box .feature-content .feature-heading {
	padding: 20px 0 0
}

.feature-box .feature-content .feature-heading p {
	font-size: 21px;
	font-weight: 300;
	line-height: 1.6em;
	padding: 20px 0 0;
	opacity: .65;
	-moz-opacity: .65;
	filter: alpha(opacity : 65)
}

.feature-content .feature-list {
	margin: 25px 0 0
}

.feature-list {
	margin: 0;
	padding: 0;
	list-style: none
}

.feature-list li {
	padding: 0 0 35px
}

.feature-list li .glyph-icon {
	font-size: 26px;
	line-height: 40px;
	float: left;
	width: 40px;
	height: 40px;
	margin: -5px 5px 0 0;
	text-align: center;
	opacity: .75;
	-moz-opacity: .75;
	filter: alpha(opacity : 75)
}

.feature-list li span {
	display: block;
	overflow: hidden
}

.feature-list li b {
	font-size: 20px;
	font-weight: 300;
	display: block
}

.feature-list li p {
	font-size: 14px;
	line-height: 2em;
	margin: 5px 0 0
}

.main-footer {
	position: relative;
	padding-top: 35px
}

.main-footer.footer-grid {
	padding-top: 35px
}

.main-footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 13px !important;
}

.main-footer a.logo {
	font-size: 20px;
	padding: 0
}

.footer-nav li, .footer-nav li a, .main-footer .logo {
	line-height: 34px;
	float: left;
	height: 34px;
	margin: 0 10px 0 0
}

.main-footer a {
	display: block;
	padding: 5px 0
}

.footer-nav {
	float: right
}

.footer-nav li a {
	display: inline-block;
	margin: 0;
	padding: 0 10px
}

.main-footer a {
	color: rgba(0, 0, 0, .5)
}

.main-footer a:hover {
	color: rgba(0, 0, 0, .9)
}

.main-footer.inverse {
	color: rgba(255, 255, 255, .8)
}

.main-footer.inverse a {
	color: rgba(255, 255, 255, .4)
}

.main-footer.inverse a:hover {
	color: rgba(255, 255, 255, .7)
}

.main-footer .footer-header {
	font-size: 14px;
	font-weight: 400;
	margin: 0 0 15px;
	padding: 0;
	text-transform: uppercase
}

.footer-pane {
	margin-top: 35px;
	padding: 10px 30px;
	background: rgba(0, 0, 0, .1)
}

.footer-pane .logo {
	font-size: 13px
}

.footer-desc p {
	padding-top: 5px !important;
	text-align: justify;
    text-justify: inter-word;
    color: rgba(255, 255, 255, .4);
}

.footer-desc .logo {
	display: block;
	float: none
}

@media ( max-width :1050px) {
	.main-header.header-fixed {
		position: static !important
	}
	.main-header .main-nav.nav-alt li.sf-mega-menu .sf-mega {
		width: auto
	}
	.main-header.header-fixed+.owl-carousel {
		margin-top: -25px
	}
	.main-header a.logo {
		text-transform: uppercase;
		font-size: 18px !important;
		margin-left: 15px !important;
		margin-top: 3px !important
	}
	.featured-area {
		-webkit-background-size: auto;
		-moz-background-size: auto;
		-o-background-size: auto;
		background-size: auto
	}
	#responsive-menu {
		float: right;
		margin-right: 15px;
		font-size: 22px
	}
	.main-header ul.main-nav {
		float: none !important;
		clear: both;
		margin: 43px 15px 0 !important;
		background: rgba(0, 0, 0, .1);
		display: none;
		border: 0
	}
	.main-header ul.main-nav li {
		border-bottom: rgba(0, 0, 0, .1) solid 1px
	}
	.main-header ul.main-nav li, .main-header ul.main-nav li a {
		float: none !important
	}
	.main-header ul.main-nav>li>a {
		font-size: 15px !important;
		text-transform: none !important;
		height: 32px !important;
		line-height: 32px !important
	}
	.main-header ul.main-nav li a .glyph-icon {
		float: right !important
	}
	.main-header .main-nav.nav-alt li>ul li a {
		padding: 5px !important
	}
	.main-header .main-nav.nav-alt li>ul, .sf-mega {
		position: static !important;
		margin: 10px !important;
		padding: 10px !important
	}
	.main-header .main-nav.nav-alt li>ul:before {
		display: none !important
	}
	.title-box .title-heading {
		text-align: center;
		font-size: 30px
	}
	.title-box .title-content {
		text-align: center;
		font-size: 20px
	}
	.title-box .float-content .title-heading {
		margin: 0
	}
	.bg-holder, .portfolio-category {
		display: none
	}
	.portfolio-controls ul {
		float: none;
		margin: 0
	}
	#portfolio-grid {
		padding: 15px
	}
	#portfolio-grid li {
		display: block !important
	}
	.featured-area.medium-padding {
		padding-top: 0 !important;
		padding-bottom: 30px !important
	}
	.featured-area.featured-box {
		padding-top: 0 !important
	}
	.img-holder {
		display: none
	}
	.title-box .float-content {
		margin: 0 !important;
		float: none !important;
		text-align: center;
		padding: 15px
	}
	.icon-box {
		margin-left: 10px;
		margin-right: 10px
	}
	.feature-img {
		display: none
	}
	.cta-box .cta-text {
		display: block;
		padding-bottom: 15px
	}
	.main-footer {
		padding-top: 0
	}
	.main-footer .footer-pane {
		margin-top: 0
	}
	.main-footer>.container {
		display: none
	}
}

@media ( max-width :645px) {
	.featured-area.large-padding {
		padding-top: 0;
		padding-bottom: 30px
	}
	.featured-area-alt2.large-padding {
		padding-top: 30px
	}
	.title-box .title-button {
		display: block
	}
	.footer-nav, .footer-pane .logo {
		float: none;
		text-align: center;
		margin: 0
	}
}

@media ( max-width :1050px) {
	.main-header.header-fixed {
		position: static !important
	}
	.main-header .main-nav.nav-alt li.sf-mega-menu .sf-mega {
		width: auto
	}
	.main-header.header-fixed+.owl-carousel {
		margin-top: -25px
	}
	.main-header a.logo {
		text-transform: uppercase;
		font-size: 18px !important;
		margin-left: 15px !important;
		margin-top: 3px !important
	}
	.featured-area {
		-webkit-background-size: auto;
		-moz-background-size: auto;
		-o-background-size: auto;
		background-size: auto
	}
	#responsive-menu {
		float: right;
		margin-right: 15px;
		font-size: 22px
	}
	.main-header ul.main-nav {
		float: none !important;
		clear: both;
		margin: 43px 15px 0 !important;
		background: rgba(0, 0, 0, .1);
		/* display: block; */
		border: 0
	}
	.main-header ul.main-nav li {
		border-bottom: rgba(0, 0, 0, .1) solid 1px
	}
	.main-header ul.main-nav li, .main-header ul.main-nav li a {
		float: none !important
	}
	.main-header ul.main-nav>li>a {
		font-size: 15px !important;
		text-transform: none !important;
		height: 32px !important;
		line-height: 32px !important
	}
	.main-header ul.main-nav li a .glyph-icon {
		float: right !important
	}
	.main-header .main-nav.nav-alt li>ul li a {
		padding: 5px !important
	}
	.main-header .main-nav.nav-alt li>ul, .sf-mega {
		position: static !important;
		margin: 10px !important;
		padding: 10px !important
	}
	.main-header .main-nav.nav-alt li>ul:before {
		display: none !important
	}
	.title-box .title-heading {
		text-align: center;
		font-size: 30px
	}
	.title-box .title-content {
		text-align: center;
		font-size: 20px
	}
	.title-box .float-content .title-heading {
		margin: 0
	}
	.bg-holder, .portfolio-category {
		display: none
	}
	.portfolio-controls ul {
		float: none;
		margin: 0
	}
	#portfolio-grid {
		padding: 15px
	}
	#portfolio-grid li {
		display: block !important
	}
	.featured-area.medium-padding {
		padding-top: 0 !important;
		padding-bottom: 30px !important
	}
	.featured-area.featured-box {
		padding-top: 0 !important
	}
	.img-holder {
		display: none
	}
	.title-box .float-content {
		margin: 0 !important;
		float: none !important;
		text-align: center;
		padding: 15px
	}
	.icon-box {
		margin-left: 10px;
		margin-right: 10px
	}
	.feature-img {
		display: none
	}
	.cta-box .cta-text {
		display: block;
		padding-bottom: 15px
	}
	.main-footer {
		padding-top: 0
	}
	.main-footer .footer-pane {
		margin-top: 0
	}
	.main-footer>.container {
		display: none
	}
}

@media ( max-width :645px) {
	.featured-area.large-padding {
		padding-top: 0;
		padding-bottom: 30px
	}
	.featured-area-alt2.large-padding {
		padding-top: 30px
	}
	.title-box .title-button {
		display: block
	}
	.footer-nav, .footer-pane .logo {
		float: none;
		text-align: center;
		margin: 0
	}
}

.icon-box {
	text-align: center
}

.icon-small {
	font-size: 28px;
	line-height: 56px;
	width: 56px;
	height: 56px
}

.icon-medium {
	font-size: 38px;
	line-height: 76px;
	width: 76px;
	height: 76px
}

.icon-large {
	font-size: 48px;
	line-height: 96px;
	width: 96px;
	height: 96px
}

.icon-content-wrapper {
	overflow: hidden
}

.icon-box.icon-box-offset-small .glyph-icon {
	margin-top: -48px
}

.icon-box.icon-box-offset-medium .glyph-icon {
	margin-top: -58px
}

.icon-box.icon-box-offset-large .glyph-icon {
	margin-top: -68px
}

.icon-box.icon-box-offset-small {
	margin-top: 24px
}

.icon-box.icon-box-offset-medium {
	margin-top: 29px
}

.icon-box.icon-box-offset-large {
	margin-top: 34px
}

.icon-box .glyph-icon {
	font-weight: 400;
	display: block;
	margin: 0 auto 20px;
	color: rgba(255, 255, 255, .5);
	border-radius: 100%
}

.icon-border {
	border: 2px solid transparent
}

.icon-box .icon-title {
	font-size: 18px;
	margin: 0;
	color: rgba(0, 0, 0, .9)
}

.icon-box.inverse .icon-title {
	color: rgba(255, 255, 255, .9)
}

.icon-box .icon-content {
	line-height: 1.6em;
	margin: 0;
	padding: 10px;
	color: rgba(0, 0, 0, .6)
}

.icon-box.inverse .icon-content {
	color: rgba(255, 255, 255, .6)
}

.icon-boxed {
	padding: 20px 0
}

.icon-box-left {
	text-align: left
}

.icon-box-left .glyph-icon {
	float: left;
	margin-right: 20px;
	text-align: center
}

.portfolio-controls {
	margin: 15px 0;
	padding: 15px 0
}

.dropdown.controls {
	margin: 30px 0
}

.portfolio-controls ul {
	float: right;
	margin: 0 -5px 0 0;
	padding: 0;
	list-style: none
}

.portfolio-category {
	float: left;
	margin: 0;
	padding: 0 10px 0 0
}

.portfolio-category-alt {
	margin-top: 36px
}

.portfolio-controls ul .filter {
	line-height: 32px;
	display: block;
	float: left;
	height: 32px;
	margin: 0 5px;
	padding: 0 10px
}

.portfolio-nav-alt .portfolio-category {
	color: rgba(255, 255, 255, .8)
}

.portfolio-nav-alt.inverse .portfolio-category {
	color: rgba(0, 0, 0, .8)
}

.portfolio-controls.portfolio-nav-alt.inverse ul .filter {
	color: rgba(0, 0, 0, .6)
}

.portfolio-controls.portfolio-nav-alt.inverse ul .filter.active,
	.portfolio-controls.portfolio-nav-alt.inverse ul .filter:hover {
	color: #000
}

.portfolio-controls ul .filter.active, .portfolio-controls ul .filter:hover
	{
	cursor: pointer;
	color: #fff;
	border-radius: 4px;
	background: rgba(0, 0, 0, .05)
}

.portfolio-nav-alt {
	margin: 0 0 20px;
	padding: 20px 0
}

.portfolio-controls.portfolio-nav-alt ul .filter {
	color: rgba(255, 255, 255, .6)
}

.portfolio-controls.portfolio-nav-alt ul .filter.active,
	.portfolio-controls.portfolio-nav-alt ul .filter:hover {
	color: #fff
}

.isotope {
	margin-top: 20px
}

.portfolio-fullwidth .thumbnail-box, .portfolio-fullwidth ul li .thumb-box,
	.portfolio-fullwidth ul li.mix_all {
	margin: 0;
	padding: 0
}

.pricing-box {
	text-align: center
}

.pricing-box .pricing-specs, .pricing-box .pricing-title {
	margin: -1px -1px 0
}

.pricing-box .pricing-title {
	font-weight: 400;
	padding: 15px
}

.pricing-box ul {
	margin: 0;
	padding: 0;
	list-style: none
}

.pricing-box .pricing-specs {
	padding: 10px 15px 20px
}

.pricing-box .pricing-specs span {
	font-size: 50px
}

.pricing-box .pricing-specs span sup {
	font-size: 30px;
	margin-left: -20px;
	padding-right: 5px
}

.pricing-box .pricing-specs i {
	font-size: 14px;
	font-style: normal;
	display: block;
	color: rgba(255, 255, 255, .6)
}

.pricing-box ul li {
	font-size: 14px;
	line-height: 48px;
	height: 48px;
	padding: 0 10px;
	border-bottom: #eee solid 1px
}

.pricing-box ul li:nth-child(even) {
	background: #fafafa
}

.pricing-table .pricing-box {
	padding: 0
}

.pricing-table .pricing-box+.pricing-box {
	border-width: 1px 1px 1px 0;
	border-radius: 0
}

.pricing-table .pricing-box+.pricing-box:nth-child(2):last-child {
	border-width: 1px
}

.pricing-table .pricing-box .pricing-specs, .pricing-table .pricing-box .pricing-title
	{
	margin: 0;
	border-bottom: #eee solid 1px;
	border-radius: 0
}

.pricing-table .pricing-box .pricing-specs span {
	font-size: 40px
}

.pricing-table .pricing-box .pricing-specs span sup {
	font-size: 20px;
	margin-left: -10px;
	padding-right: 5px
}

.pricing-table .pricing-box .pricing-specs i {
	color: rgba(0, 0, 0, .5)
}

.pricing-table .pricing-best {
	position: relative;
	z-index: 15;
	margin-right: -1px;
	margin-left: -1px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1)
}

.pricing-table .pricing-best .pricing-specs {
	background: #fafafa
}

.pricing-table .pricing-best .pricing-title {
	font-size: 28px;
	line-height: 60px;
	height: 90px;
	margin: -25px -1px 0
}

.iphone-screen, .iphone-wrapper {
	position: relative;
	width: 366px;
	height: 768px
}

.iphone-screen {
	position: absolute;
	z-index: 6;
	top: 0;
	left: 0;
	background-image: url(../dummy-images/iphone-screen.png)
}

.iphone-content {
	position: absolute;
	z-index: 7;
	top: 112px;
	left: 30px;
	width: 310px;
	height: 541px
}

.iphone-content .slider-wrapper .owl-controls .owl-buttons .owl-prev {
	font-size: 95px;
	right: auto;
	left: -65px
}

.iphone-content .slider-wrapper .owl-controls .owl-buttons .owl-next {
	font-size: 95px;
	right: -65px;
	left: auto
}

.testimonial-box {
	margin: 0 0 45px
}

.owl-item .testimonial-box {
	margin-bottom: 0
}

.testimonial-box .popover {
	position: relative;
	display: block;
	float: none;
	margin: 0;
	-webkit-box-shadow: 0 0 0 transparent;
	-moz-box-shadow: 0 0 0 transparent;
	box-shadow: 0 0 0 transparent
}

.testimonial-box .popover .arrow {
	left: 54px !important;
	margin: 0
}

.testimonial-box .popover .arrow.float-right {
	right: 45px !important;
	left: auto !important
}

.testimonial-box .popover .popover-content {
	padding: 22px 30px 30px 50px
}

.testimonial-box .popover .popover-content .glyph-icon,
	.testimonial-box-big .testimonial-content .glyph-icon {
	font-size: 25px;
	position: absolute;
	opacity: .25;
	-moz-opacity: .25;
	filter: alpha(opacity : 25)
}

.testimonial-box .popover .popover-content .icon-quote-left {
	top: 15px;
	left: 15px
}

.testimonial-box .popover .popover-content .icon-quote-right {
	right: 15px;
	bottom: 10px
}

.testimonial-box-big .testimonial-content {
	background: 0 0
}

.testimonial-box .popover .popover-content p, .testimonial-box-big .testimonial-content p
	{
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-size: 17px;
	margin: 0
}

.testimonial-author-wrapper {
	padding: 20px 0 0
}

.testimonial-author-wrapper img {
	float: left;
	width: 60px;
	margin: 0 20px 0 25px
}

.testimonial-author-wrapper img.float-right {
	margin: 0 25px 0 20px
}

.testimonial-author {
	overflow: hidden
}

.testimonial-author b {
	font-size: 18px;
	font-weight: 300;
	display: block;
	padding: 6px 0 0
}

.testimonial-author span {
	text-transform: uppercase
}

.testimonial-box-big {
	text-align: center
}

.testimonial-box-big .testimonial-content .glyph-icon {
	font-size: 40px
}

.testimonial-box-big .testimonial-content .icon-quote-left {
	top: 0;
	left: -30px
}

.testimonial-box-big .testimonial-content .icon-quote-right {
	right: -30px;
	bottom: 0
}

.testimonial-box-big .testimonial-author-wrapper {
	display: inline-block;
	padding-top: 0
}

.testimonial-box-big .testimonial-author-wrapper .testimonial-author b {
	padding: 0 0 10px
}

.testimonial-box-big .testimonial-author-wrapper img {
	display: none
}

.testimonial-box-big .testimonial-content {
	position: relative;
	margin: 0 40px
}

.testimonial-box-big .testimonial-content p {
	font-size: 22px;
	padding: 0 20px
}

.slider-wrapper .testimonial-box-big {
	margin-bottom: 35px
}

.testimonial-content {
	position: relative;
	padding: 15px 20px 18px
}

.testimonial-content .testimonial-arrow {
	position: absolute;
	right: 0;
	bottom: -34px;
	display: block;
	content: '';
	text-indent: 0;
	opacity: .8;
	border-width: 34px 34px 0 0;
	border-style: solid;
	border-color: #e9e9e9;
	border-right-color: transparent !important;
	border-bottom-color: transparent !important;
	border-left-color: transparent !important;
	-moz-opacity: .8;
	filter: alpha(opacity : 8)
}

.testimonial-content .testimonial-arrow.arrow-rounded {
	right: 15px;
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity : 1)
}

.testimonial-box-alt .testimonial-content p {
	font-size: 14px;
	line-height: 1.8em;
	margin: 0;
	padding: 0 0 0 25px
}

.testimonial-box-alt .glyph-icon {
	font-size: 25px;
	position: absolute;
	top: 10px;
	left: 12px;
	opacity: .6;
	-moz-opacity: .6;
	filter: alpha(opacity : 6)
}

.testimonial-box-alt .testimonial-author-wrapper {
	padding-top: 15px
}

.testimonial-box-alt .testimonial-author-wrapper img {
	margin: 0 10px 0 25px
}

.testimonial-box-alt .testimonial-author {
	padding-left: 15px
}

.title-box {
	-webkit-transition: height .85s cubic-bezier(.725, 0, 0, .995);
	-moz-transition: height .85s cubic-bezier(.725, 0, 0, .995);
	-o-transition: height .85s cubic-bezier(.725, 0, 0, .995);
	transition: height .85s cubic-bezier(.725, 0, 0, .995);
	color: #fff;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover
}

.wow {
	position: relative;
	z-index: 5
}

.fixed-bg {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover
}

.title-box .title-heading {
	font-size: 45px;
	font-weight: 300;
	margin: 0;
	padding: 0;
	letter-spacing: -1px;
	color: #fff
}

.title-box.inverse .title-heading {
	color: rgba(0, 0, 0, .6)
}

.title-box .title-content {
	font-size: 25px;
	font-weight: 300;
	line-height: 1.5em;
	margin: 0;
	letter-spacing: -1px;
	color: rgba(255, 255, 255, .6)
}

.title-box.inverse .title-content {
	color: rgba(0, 0, 0, .4)
}

.title-box .title-content a {
	padding: 0 3px;
	color: rgba(255, 255, 255, .9)
}

.title-box.inverse .title-content a {
	color: rgba(0, 0, 0, .8)
}

.title-box .title-content a:hover {
	border-bottom: rgba(255, 255, 255, .3) solid 1px
}

.title-box.inverse .title-content a:hover {
	border-bottom: rgba(0, 0, 0, .4) solid 1px
}

.title-box .title-button {
	min-width: 300px;
	margin: 30px auto 0;
	border: 0
}

.img-holder {
	width: 450px;
	height: 600px;
	margin-top: 50px;
	margin-right: -450px
}

.img-holder .iphone-wrapper {
	margin: 0 auto
}

.title-box .img-holder {
	float: left
}

.title-box .img-holder.float-right {
	margin-right: auto;
	margin-left: -450px
}

.title-box .float-content {
	float: left;
	margin-left: 500px;
	text-align: left
}

.title-box .float-content.float-left {
	margin-right: 500px;
	margin-left: auto
}

.title-box .float-content .title-heading {
	margin-top: 85px
}

.title-box .float-content .title-content {
	padding: 25px 0
}

.title-big {
	font-size: 38px;
	text-align: center
}

.title-big small {
	font-size: 22px;
	display: block;
	padding: 10px 0 0;
	opacity: .6;
	color: #fff;
	-moz-opacity: .6;
	filter: alpha(opacity : 60)
}

.inverse .title-big small, .inverse.title-big small {
	color: #000
}

.text-desc, .title-big span {
	font-size: 40%;
	line-height: 1.6em;
	display: block;
	padding: 25px 0 0;
	opacity: .8;
	-moz-opacity: .8;
	filter: alpha(opacity : 80)
}

.title-box.text-left .title-content {
	padding: 0
}

.bg-holder {
	position: absolute;
	top: 0;
	width: 100%
}

.bg-holder.float-right img {
	right: auto;
	left: 0
}

.bg-holder img {
	position: absolute;
	top: 0;
	right: 0
}

@media(min-width:1051px){
	.main-header ul.main-nav {
		display: block; 
	}
}